__pycache__/
*.pyc
*.so
*.pyd
*.dll
.env
*.ipynb_checkpoints
.DS_Store

build/
ckpt/
data/
docs/
experiment/
lightning_logs/
outputs/
pretraining_ckpt/
UniTraj.egg-info/
mmdet3d.egg-info/
bevtraj.egg-info/
.vscode/
tmp/
wandb/

environment.yml

legacy/
*_legacy.py
*_exp.py
*_exp.yaml
*_local.py
*_local.yaml
